{% extends 'base.html' %}
{% load humanize %}

{% block title %} Sotuvlar {% endblock %}
{% block section %} Sotuvlar {% endblock %}
{% block sale_active %} active {% endblock %}

{% block content %}
<div class="col-md-12">
    <div class="card card-dark">
        <div class="card-header border-0">
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Sotuv
                    qo'shish
                </button>
            </div>
        </div>
        <div class="card-body">
            <table class="table" style="text-align: center;">
                <thead>
                <tr>
                    <th scope="col" style="width: 15px">T/r</th>
                    <th scope="col" style="width: 255px; text-align: center;">Mahsulot</th>
                    <th scope="col" style="text-align: center;">Mijoz</th>
                    <th scope="col" style="text-align: center;">Sotilgan sana</th>
                    <th scope="col" style="text-align: center;">Miqdor</th>
                    <th scope="col" style="text-align: center;">Jami summa</th>
                    <th scope="col" style="text-align: center;">To'landi</th>
                    <th scope="col" style="text-align: center;">Nasiya</th>
                </tr>
                </thead>
                <tbody>
                {% for sale in sales %}
                <tr>
                    <th scope="row">{{forloop.counter}}</th>
                    <td>{{sale.product.name}}, {{sale.product.brand}}</td>
                    <td>{{sale.client.name}}, {{sale.client.market}}</td>
                    <td>{{sale.sold_at|date:'d.m.Y'}}</td>
                    <td>{{sale.amount}} {{sale.product.unit}}</td>
                    <td>{{sale.total_price|floatformat:2|intcomma}} so'm</td>
                    <td>{{sale.paid_price|floatformat:2|intcomma}} so'm</td>
                    <td>{{sale.debt_price|floatformat:2|intcomma}} so'm</td>
                    <td>
                        <a href="/stats/sales/{{sale.id}}/update/">
                            <button type="submit" class="btn btn-warning" data-toggle="modal">Tahrirlash</button>
                        </a>
                        <a href="/stats/sales/{{sale.id}}/delete/">
                            <button type="submit" class="btn btn-danger" data-toggle="modal">O'chirish</button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header bg-dark">
                <h4 class="modal-title">Sotuv qo'shish</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <form id="new-product-form" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    <label for="product">Mahsulot:</label>
                    <select name="product_id" id="product" class="form-control">
                        {% for product in products %}
                            <option value="{{product.id}}">{{product.name}} [{{product.export_price}} so'm]</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for="client">Mijoz:</label>
                    <select name="client_id" id="client" class="form-control">
                        {% for client in clients %}
                            <option value="{{client.id}}">{{client.name}} [{{client.market}}]</option>
                        {% endfor %}
                    </select>
                    <br>

                    <label for="amount">Miqdor:</label>
                    <input type="number" name="amount" id="amount" class="form-control" value="1" required>
                    <br>

                    <label for="sold_at">Sana:</label>
                    <input type="datetime-local" name="sold_at" id="sold_at" class="form-control">
                    <br>

                    <label for="total_price">Jami summa:</label>
                    <input type="number" name="total_price" id="total_price" class="form-control">
                    <br>

                    <label for="paid_price">To'landi:</label>
                    <input type="number" name="paid_price" id="paid_price" class="form-control">
                    <br>

                    <label for="debt_price">Nasiya:</label>
                    <input type="number" name="debt_price" id="debt_price" class="form-control">
                    <br>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">Qo`shish</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Yopish</button>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}